@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap');

$bgColor: rgb(255, 240, 199);
$h1-fontSize: 40px;
$h1-color: rgb(27, 27, 68);
$h4-fontSize: 30px;
$h4-color: rgb(192, 51, 0);